# --- Aprilcube Gitignore ---

# Exclude large file types default
**.png
**.stl
**.3mf
**.pdf
**.blend
**.blend1

# Exclude the original 8x8 px tag textures
!meshes/tags_original/*.png
# Image of the printed cube for the readme
!print3D/printed.png
