<?xml version="1.0"?>
<model>
  <name>aprilcube</name>
  <version>0.1.0</version>
  <author>
   <name>Vincent Rist</name>
   <email>vincent.rist@ovgu.de</email>
  </author>
  <sdf>aprilcube.sdf</sdf>
  <description>
    A Cube with with Apriltags 0 to 5  from the tag family 16h5 on its faces.
  </description>
</model>


